<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>SB Admin - Bootstrap Admin Template</title>

    <!-- Bootstrap Core CSS -->
   <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="stylesheets/sb-admin.css" rel="stylesheet">

    <!-- Morris Charts CSS -->
    <link href="stylesheets/plugins/morris.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet">
    
    <script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
    <script src="/javascripts/validator.min.js"></script>
	<script src="/javascripts/muni14.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.10/angular.min.js"></script>
	<script src="http://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.10/angular-ui-router.js"></script>
	<script src="https://cdn.socket.io/socket.io-1.4.5.js"></script>
	<script src="/bower_components/angular-socket-io/socket.min.js"></script>
	<script type="text/javascript" src="bower_components/tinymce-dist/tinymce.js"></script>
	 <script type="text/javascript" src="bower_components/angular-ui-tinymce/src/tinymce.js"></script>
	<script src="/javascripts/adminApp.js"></script>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesnt work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body ng-app="coffeeScriptAdmin" ng-controller="MainCtrl" class="loggedOff">

    <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/admin#/"> <img src="images/pages-logo-light.png" alt="" class="login-img"> Coffee Cloud <small>Admin</small></a>
            </div>
            <!-- Top Menu Items -->
            <ul class="nav navbar-right top-nav" ng-show="isLoggedIn()">
               <!-- <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-envelope"></i> <b class="caret"></b></a>
                    <ul class="dropdown-menu message-dropdown">
                        <li class="message-preview">
                            <a>
                                <div class="media">
                                    <span class="pull-left">
                                        <img class="media-object" src="http://placehold.it/50x50" alt="">
                                    </span>
                                    <div class="media-body">
                                        <h5 class="media-heading"><strong>{{ currentUser() }}</strong>
                                        </h5>
                                        <p class="small text-muted"><i class="fa fa-clock-o"></i> Yesterday at 4:32 PM</p>
                                        <p>Lorem ipsum dolor sit amet, consectetur...</p>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="message-preview">
                            <a>
                                <div class="media">
                                    <span class="pull-left">
                                        <img class="media-object" src="http://placehold.it/50x50" alt="">
                                    </span>
                                    <div class="media-body">
                                        <h5 class="media-heading"><strong>John Smith</strong>
                                        </h5>
                                        <p class="small text-muted"><i class="fa fa-clock-o"></i> Yesterday at 4:32 PM</p>
                                        <p>Lorem ipsum dolor sit amet, consectetur...</p>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="message-preview">
                            <a>
                                <div class="media">
                                    <span class="pull-left">
                                        <img class="media-object" src="http://placehold.it/50x50" alt="">
                                    </span>
                                    <div class="media-body">
                                        <h5 class="media-heading"><strong>John Smith</strong>
                                        </h5>
                                        <p class="small text-muted"><i class="fa fa-clock-o"></i> Yesterday at 4:32 PM</p>
                                        <p>Lorem ipsum dolor sit amet, consectetur...</p>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="message-footer">
                            <a href="#">Read All New Messages</a>
                        </li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-bell"></i> <b class="caret"></b></a>
                    <ul class="dropdown-menu alert-dropdown">
                        <li>
                            <a href="#">Alert Name <span class="label label-default">Alert Badge</span></a>
                        </li>
                        <li>
                            <a href="#">Alert Name <span class="label label-primary">Alert Badge</span></a>
                        </li>
                        <li>
                            <a href="#">Alert Name <span class="label label-success">Alert Badge</span></a>
                        </li>
                        <li>
                            <a href="#">Alert Name <span class="label label-info">Alert Badge</span></a>
                        </li>
                        <li>
                            <a href="#">Alert Name <span class="label label-warning">Alert Badge</span></a>
                        </li>
                        <li>
                            <a href="#">Alert Name <span class="label label-danger">Alert Badge</span></a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">View All</a>
                        </li>
                    </ul>
                </li> -->
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> {{ currentUser() }} <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                       <!-- <li>
                            <a href="#"><i class="fa fa-fw fa-user"></i> Profile</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-fw fa-envelope"></i> Inbox</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-fw fa-gear"></i> Settings</a>
                        </li>
                        <li class="divider"></li> -->
                        <li>
                            <a href="#" ng-click="logOut();"><i class="fa fa-fw fa-power-off"></i> Log Out</a>
                        </li>
                    </ul>
                </li>
            </ul>
            <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav side-nav" ng-controller="NavCtrl" ng-show="isLoggedIn()">
                    <li ng-class="{ active: isActive('/home') }">
                        <a href="/admin#/"><i class="fa fa-fw fa-dashboard"></i> Dashboard</a>
                    </li>
                    <li ng-class="{ active: isActive('/adaptacion') }">
                        <a href="/admin#/adaptacion"><i class="fa fa-fw fa-shield"></i> Adaptación Climática </a>
                    </li>
                    <li ng-class="{ active: isActive('/users') }">
                        <a href="/admin#/users"><i class="fa fa-fw fa-users"></i> Usuarios  </a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-fw fa-umbrella"></i> Perspectiva Climática</a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-fw fa-map"></i> Mapa Incidencia</a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-fw fa-map-o"></i> Mapa Severidad</a>
                    </li>
                    <li ng-class="{ active: isActive('/noticias') }">
                        <a href="/admin#/noticias"><i class="fa fa-fw fa-newspaper-o"></i> Noticias</a>
                    </li>
                    <li ng-class="{ active: isActive('/messenger') }">
                        <a href="/admin#/messenger"><i class="fa fa-fw fa-comment"></i>  Consultas</a>
                    </li>
                    
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </nav>

        <div id="page-wrapper">
	        
	        <ui-view></ui-view>
           
            <!-- /.container-fluid -->

        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- jQuery -->
    
    <script type="text/ng-template" id="/home.html">
	     <div class="container-fluid">

                <!-- Page Heading -->
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">
                            Dashboard
                        </h1>
                        <ol class="breadcrumb">
                            <li class="active">
                                <i class="fa fa-dashboard"></i> Dashboard
                            </li>
                        </ol>
                    </div>
                </div>
              
                <!-- /.row -->

                <div class="row">
                    <div class="col-md-6">
	                     <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">Precipitación 
                                </h3>
                            </div>
                            <div class="panel-body">
	                            <iframe width="100%" height="500px" frameBorder="0" src="https://a.tiles.mapbox.com/v4/accionclima.5b439af8.html?access_token=pk.eyJ1IjoiYWNjaW9uY2xpbWEiLCJhIjoiY2lrazVhd2lhMGE1cnRpajdxZzFlZjd5cyJ9.LSfg1Cjc1LaBYJFt4Rlj8w"></iframe>

                            </div>
	                     </div>
	                                        </div>
                    <div class="col-md-6">
	                    <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">Mapa Incidencia  
                                </h3>
                            </div>
                            <div class="panel-body">
	                           <iframe width="100%" height="500px" frameBorder="0" src="https://a.tiles.mapbox.com/v4/accionclima.9f02fd72.html?access_token=pk.eyJ1IjoiYWNjaW9uY2xpbWEiLCJhIjoiY2lrazVhd2lhMGE1cnRpajdxZzFlZjd5cyJ9.LSfg1Cjc1LaBYJFt4Rlj8w"></iframe>

                            </div>
	                     </div>
	                    
                    </div>
                </div>
                <!-- /.row -->

                <div class="row">
                    <div class="col-lg-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title"><i class="fa fa-bar-chart-o fa-fw"></i> Consultas</h3>
                            </div>
                            <div class="panel-body">
                                <div id="morris-area-chart"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.row -->

                <div class="row">
                    <div class="col-lg-4">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title"><i class="fa fa-long-arrow-right fa-fw"></i> Donut Chart</h3>
                            </div>
                            <div class="panel-body">
                                <div id="morris-donut-chart"></div>
                                <div class="text-right">
                                    <a href="#">View Details <i class="fa fa-arrow-circle-right"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title"><i class="fa fa-clock-o fa-fw"></i> Tasks Panel</h3>
                            </div>
                            <div class="panel-body">
                                <div class="list-group">
                                    <a href="#" class="list-group-item">
                                        <span class="badge">just now</span>
                                        <i class="fa fa-fw fa-calendar"></i> Calendar updated
                                    </a>
                                    <a href="#" class="list-group-item">
                                        <span class="badge">4 minutes ago</span>
                                        <i class="fa fa-fw fa-comment"></i> Commented on a post
                                    </a>
                                    <a href="#" class="list-group-item">
                                        <span class="badge">23 minutes ago</span>
                                        <i class="fa fa-fw fa-truck"></i> Order 392 shipped
                                    </a>
                                    <a href="#" class="list-group-item">
                                        <span class="badge">46 minutes ago</span>
                                        <i class="fa fa-fw fa-money"></i> Invoice 653 has been paid
                                    </a>
                                    <a href="#" class="list-group-item">
                                        <span class="badge">1 hour ago</span>
                                        <i class="fa fa-fw fa-user"></i> A new user has been added
                                    </a>
                                    <a href="#" class="list-group-item">
                                        <span class="badge">2 hours ago</span>
                                        <i class="fa fa-fw fa-check"></i> Completed task: "pick up dry cleaning"
                                    </a>
                                    <a href="#" class="list-group-item">
                                        <span class="badge">yesterday</span>
                                        <i class="fa fa-fw fa-globe"></i> Saved the world
                                    </a>
                                    <a href="#" class="list-group-item">
                                        <span class="badge">two days ago</span>
                                        <i class="fa fa-fw fa-check"></i> Completed task: "fix error on sales page"
                                    </a>
                                </div>
                                <div class="text-right">
                                    <a href="#">View All Activity <i class="fa fa-arrow-circle-right"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title"><i class="fa fa-money fa-fw"></i> Transactions Panel</h3>
                            </div>
                            <div class="panel-body">
                                <div class="table-responsive">
                                    <table class="table table-bordered table-hover table-striped">
                                        <thead>
                                            <tr>
                                                <th>Order #</th>
                                                <th>Order Date</th>
                                                <th>Order Time</th>
                                                <th>Amount (USD)</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>3326</td>
                                                <td>10/21/2013</td>
                                                <td>3:29 PM</td>
                                                <td>$321.33</td>
                                            </tr>
                                            <tr>
                                                <td>3325</td>
                                                <td>10/21/2013</td>
                                                <td>3:20 PM</td>
                                                <td>$234.34</td>
                                            </tr>
                                            <tr>
                                                <td>3324</td>
                                                <td>10/21/2013</td>
                                                <td>3:03 PM</td>
                                                <td>$724.17</td>
                                            </tr>
                                            <tr>
                                                <td>3323</td>
                                                <td>10/21/2013</td>
                                                <td>3:00 PM</td>
                                                <td>$23.71</td>
                                            </tr>
                                            <tr>
                                                <td>3322</td>
                                                <td>10/21/2013</td>
                                                <td>2:49 PM</td>
                                                <td>$8345.23</td>
                                            </tr>
                                            <tr>
                                                <td>3321</td>
                                                <td>10/21/2013</td>
                                                <td>2:23 PM</td>
                                                <td>$245.12</td>
                                            </tr>
                                            <tr>
                                                <td>3320</td>
                                                <td>10/21/2013</td>
                                                <td>2:15 PM</td>
                                                <td>$5663.54</td>
                                            </tr>
                                            <tr>
                                                <td>3319</td>
                                                <td>10/21/2013</td>
                                                <td>2:13 PM</td>
                                                <td>$943.45</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="text-right">
                                    <a href="#">View All Transactions <i class="fa fa-arrow-circle-right"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.row -->

            </div>
    </script>
    <script type="text/ng-template" id="/register.html">
	  <div class="login-wrap">
		<div class="container-fluid">
			<div class="row">
				<div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3">
				  <img src="images/pages-logo-dark.png" alt="" class="register-img"/>
				  <h5>Registro</h5>
				  <div ng-show="error" class="alert alert-danger row">
				    <span>{{ error.message }}</span>
				  </div>

				  <form ng-submit="register()">

				    <div class="form-group">
				      <input type="text"
				      class="form-control"
				      placeholder="Nombre de usuario"
				      ng-model="user.username" required></input>
				    </div>
				    <div class="form-group">
				      <input type="text"
				      class="form-control"
				      placeholder="Numero Telefonico"
				      ng-model="user.phone" required></input>
				    </div>
				    <div class="form-group">
				      <input type="email"
				      class="form-control"
				      placeholder="Correo Electrónico"
				      ng-model="user.email" required></input>
				    </div>
				   <div class="form-group">
							    <div class="form-group">
							      <input type="password" data-minlength="6" class="form-control" id="inputPassword" placeholder="Contraseña" required>
							    </div>
							    <div class="form-group">
							      <input type="password" class="form-control" id="inputPasswordConfirm" data-match="#inputPassword" data-match-error="Whoops, these don't match" placeholder="Confirmar Contraseña" ng-model="user.password" required>
							      <div class="help-block with-errors"></div>
							    </div>
							</div>
				    				    <button type="submit" class="btn btn-primary">Registrarse</button>
				  </form>
				  </div>
			</div>
		</div>
	</div>
	</script>
    <script type="text/ng-template" id="/login.html">
		<div class="login-wrap">
		<div class="container-fluid">
			<div class="row">
				<div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3">  
				  <div ng-show="error" class="alert alert-danger row">
				    <span>{{ error.message }}</span>
				  </div>
				  	<img src="images/pages-logo-light.png" alt="" class="login-img"/>
				  <form ng-submit="logIn()">
				    
				    <div class="form-group">
				       <label for="email">Correo Electrónico</label>
				      <input type="text" name="email"
				      class="form-control"
				      ng-model="user.username"></input>
				    </div>
				    <div class="form-group">
				      <label for="password">Contraseña</label>
				      <input type="password" name="password"
				      class="form-control"
				      ng-model="user.password"></input>
				    </div>
				    <button type="submit" class="btn btn-primary">Iniciar Sesión</button>
				    <a href="/admin#/register">¿No tiene cuenta?</a>
				  </form>
				</div>
			</div>
		</div>
	</div>
	  </script>
    <script type="text/ng-template" id="/messenger.html">
	    <div class="container-fluid messenger" ng-controller="MessengerCtrl">
		    <div class="row">
			    <div class="col-md-3">
				    <div class="chat-list">
					    <div class="chat-item" ng-repeat="convo in chats" ng-click="loadChat($event,convo.sender)" ng-class="convo.sender==currentChat ? 'active' : ''">
						    <h4>{{ convo.sender }}</h4>
						    <p>{{ convo.messages.length }} mensajes</p>
						    <a class="closeChat" ng-click="deleteChat(convo.chatid)">X</a>
						</div>
					</div>
			    </div>
			    <div class="col-md-9">
				    	<div class="chat-head">
					    	<strong>Conversacion:</strong> {{ currentChat }}
					    </div>
				    	<div class="chatbox" scroll-glue>
							<div class="message" ng-repeat="message in chatLog">
								<div>
									<span class="name">>{{ message.sender }}: </span>
								 <div class="message-body">{{ message.bodyMsg }}</div></div>
							</div>
							
						</div>
						
						<form class="type-sink form-inline" ng-submit="sendMessage()">
								<div class="form-group">
									<label class="sr-only" for="chatMsg">Chat message</label>
									<input type="text" class="form-control" name="chatMsg" id="chatMsg">						
									<input type="hidden" name="fromId" value="admin">
									<input type="hidden" name="toId" value="">
								</div>
							<button type="submit" class="btn btn-default">Enviar</button>
						</form>
			    </div>
			</div>
		</div>
	    
		
						
	</script>
    <script type="text/ng-template" id="/adaptacion.html">
	     <div class="container-fluid adaptacion-wrap">

                <!-- Page Heading -->
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">
                            Adaptación Climática
                        </h1>
                        <p class="lead">Recomendaciones </p>
                    </div>
                </div>
              
                <!-- /.row -->

                <div class="row">
                    <div class="col-md-12">
	                   <form ng-submit="saveTable()">
	                    <div class="table-responsive">
	                    <table class="table table-bordered">
						  <tr>
						    <th>Incidencia (%)</th>
						    <th>abril - junio</th>
						    <th>julio-setiembre</th>
						    <th>octubre-diciembre</th>
						  </tr>
						  <tr>
						    <td>&lt; 10</td>
						    <td><textarea ng-model="table.caseInidence10.abrilJunio"></textarea></td>
						    <td><textarea ng-model="table.caseInidence10.julioSetiembre"></textarea></td>
						    <td><textarea ng-model="table.caseInidence10.octubreDiciembre"></textarea></td>
						  </tr>
						  <tr>
						    <td>11 - 20</td>
						    <td><textarea ng-model="table.caseInidence1120.abrilJunio"></textarea></td>
						    <td><textarea ng-model="table.caseInidence1120.julioSetiembre"></textarea></td>
						    <td><textarea ng-model="table.caseInidence1120.octubreDiciembre"></textarea></td>
						  </tr>
						  <tr>
						    <td>21 - 50</td>
						    <td><textarea ng-model="table.caseInidence2150.abrilJunio"></textarea></td>
						    <td><textarea ng-model="table.caseInidence2150.julioSetiembre"></textarea></td>
						    <td><textarea ng-model="table.caseInidence2150.octubreDiciembre"></textarea></td>
						  </tr>
						  <tr>
						    <td>&gt; 50</td>
						    <td><textarea ng-model="table.caseInidence50.abrilJunio"></textarea></td>
						    <td><textarea ng-model="table.caseInidence50.julioSetiembre"></textarea></td>
						    <td><textarea ng-model="table.caseInidence50.octubreDiciembre"></textarea></td>
						  </tr>
						</table>
	                    </div>
	                    <button class="btn btn-primary">Guardar Camabios</button>
	                   </form>
                    </div>
                </div>
                

            </div>
    </script>
    <script type="text/ng-template" id="/users.html">
	     <div class="container-fluid users-wrap">

                <!-- Page Heading -->
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">
                            Administración de Usuarios
                        </h1>
                        <p class="lead col-md-4">Creación y Roles </p><div class="col-md-8 text-right"><button class="btn btn-primary" data-toggle="modal" data-target="#myModal">Nuevo Usuario</button></div>
                    </div>
                </div>
              
                <!-- /.row -->

                <div class="row">
                    <div class="col-md-12">
	                   <div class="user-editor">
		                   <div class="user-item" ng-repeat="user in userList">
			                   <span class="username">{{user.username}}</span> <span class="role">{{user.role}}</span>
			                   <button class="btn btn-default" >Editar</button>
			                   <button class="btn btn-danger" ng-click="removeUser(user._id,$index)">X</button>
			                </div>
			            </div>
                    </div>
                </div>

				<!-- Modal -->
				<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
				  <div class="modal-dialog" role="document">
				    <div class="modal-content">
				      <div class="modal-header">
				        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				        <h4 class="modal-title" id="myModalLabel">Crear Usuario</h4>
				      </div>
				      <div class="modal-body">
						        <div ng-show="error" class="alert alert-danger row">
								    <span>{{ error.message }}</span>
								  </div>
				
								  <form ng-submit="createUser()" name="newuserForm" id="newserForm" data-toggle="validator">
				
								    <div class="form-group">
								      <input type="text"
								      class="form-control"
								      placeholder="Nombre de usuario"
								      ng-model="newUser.username" required></input>
								    </div>
								    <div class="form-group">
								      <input type="text"
								      class="form-control"
								      placeholder="Numero Telefonico"
								      ng-model="newUser.phone" required></input>
								    </div>
								    <div class="form-group">
								      <label>Rol:</label>
								      <select class="form-control" ng-model="newUser.role">
										  <option>Cliente</option>
										  <option>Extensionista</option>
										  <option>Admin</option>
										</select>
								    </div>
								    <div class="form-group">
								      <label>Departamento/Municipio:</label>
								      <select id="departamentos" class="form-control" required>
										</select>
								    </div>
								    <div class="form-group">
								      <input type="email"
								      class="form-control"
								      placeholder="Correo Electrónico"
								      ng-model="newUser.email" required></input>
								    </div>
								   <div class="form-group">
											    <div class="form-group">
											      <input type="password" data-minlength="6" class="form-control" id="inputPassword" placeholder="Contraseña" required>
											    </div>
											    <div class="form-group">
											      <input type="password" class="form-control" id="inputPasswordConfirm" data-match="#inputPassword" data-match-error="No coinciden! " placeholder="Confirmar Contraseña" ng-model="newUser.password" required>
											      <div class="help-block with-errors"></div>
											    </div>
											</div>
								    
								  
								  </form>
				      </div>
				      <div class="modal-footer">
				        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				        <button type="button" class="btn btn-primary"  form="newuserForm" ng-disabled="newuserForm.$invalid" ng-click="createUser()">Guardar Usuario</button>
				      </div>
				    </div>
				  </div>
				</div>

            </div>
    </script>
    <script type="text/ng-template" id="/noticias.html">
	     <div class="container-fluid noticas-wrap">

                <!-- Page Heading -->
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">
                            Noticias
                        </h1>
                        <p class="lead col-md-4">Creación y Edicion </p><div class="col-md-8 text-right"><button class="btn btn-primary" data-toggle="modal" data-target="#myModal">Nueva Noticia</button></div>
                    </div>
                </div>
              
                <!-- /.row -->

                <div class="row">
                    <div class="col-md-12">
	                   <div class="news-editor">
		                   <div class="news-item" ng-repeat="post in posts | orderBy: '-createdAt'">
			                   <span class="title">{{post.title}}</span> <span class="date">{{post.createdAt | date:'MM/dd/yyyy'}}</span>
			                   <button class="btn btn-default">Editar</button>
			                   <button class="btn btn-danger">X</button>
			                </div>
			            </div>
                    </div>
                </div>
  				<!-- Modal -->
				<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
				  <div class="modal-dialog" role="document">
				    <div class="modal-content">
				      <div class="modal-header">
				        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				        <h4 class="modal-title" id="myModalLabel">Nueva Noticia </h4>
				      </div>
				      <div class="modal-body">
				        <form ng-submit="publish()">
					         <div class="form-group">
							    <label for="title">Titulo</label>
							    <input type="text" class="form-control" id="title"  ng-model="newPost.title">
							  </div>
							  <textarea ui-tinymce="tinymceOptions" ng-model="newPost.content"></textarea>
				        </form>
				      </div>
				      <div class="modal-footer">
				        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
				        <button type="button" class="btn btn-primary" ng-click="publish()">Publicar</button>
				      </div>
				    </div>
				  </div>
				</div>
                

            </div>
    </script>

    

    <!-- Bootstrap Core JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    
	
    <!-- Morris Charts JavaScript -->
    <script src = "bower_components/angular-scroll-glue/src/scrollglue.js"></script>
    <!-- Morris Charts JavaScript
    <script src="javascripts/plugins/morris/raphael.min.js"></script>
    <script src="javascripts/plugins/morris/morris.min.js"></script>
    <script src="javascripts/plugins/morris/morris-data.js"></script> -->

</body>

</html>
